// Cores
$background-color: #f5f6fa;
$primary-color: #182C61;
$button-color: #44bd32;
$button-hover: #4cd137;
$text-color: #fff;

// Fontes
$main-font: Roboto, sans-serif;

// Layout
$container-width: 1024px;
$container-mobile: 80%;